[submodule "persuasionforgood"]
	path = persuasionforgood
	url = https://github.com/americast/persuasionforgood.git
[submodule "cnn-text-classification-pytorch"]
	path = cnn-text-classification-pytorch
	url = git@github.com:americast/cnn-text-classification-pytorch.git
